SECRET_KEY=KeystoneDev
NODE_ENV = development
USER = vansh
PORT = 5000
DATABASE = YOUR DATABASE WITH <password>
DATABASE_PASSWORD = DATABASE PASSWORD TO REPLACE <password>

TWILIO_ACCOUNT_SID= ACbc2884eda25e9776346558661bf5f69e
AUTH_TOKEN=57ca2e59130663ff4d8c57cbbd8167c7
SERVICE_ID = VAe6b4f235abedf454ca46818ba25719c5
GAS_WALLET = 
GAS_WALLET_PRIVATE_KEY = 